---
import Counter from "../components/Counter";
import Episodes from "../components/Episodes.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Counter client:load />
  <Episodes count={5} server:defer>
    <div slot='fallback'>Loading episodes...</div>
  </Episodes>
</Layout>